<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MyRunnerTest" verbose="30" thread-count="1">
<test name="testSearchBox">
<parameter name="babyProduct" value="Johnsons"/>
<classes>
<class name="com.seleniumPractice.SeleniumCucumber.runners.MyRunnerTest">
</class>

</classes>
</test>
</suite>